body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: #42a5f5;

 }


#nav-top{
  background: red;
  width: absolute;
}

/*Rodapé*/
#footerHome{
     margin-top: 30px;       
     background-color: #0d47a1;

}
/*Título do rodapé*/
#linkText{
      font-family:Trebuchet;
      font-size: 30px;

}
/*Link Home do rodapé*/
#HomeText{
      font-family:Trebuchet;
      font-size: 15px;
      text-decoration: underline; 
}
/*Link Fale Conosco do rodapé*/
#FaleConoscoText{
      font-family:Trebuchet;
      font-size: 15px;
      text-decoration: underline; 

}


/*blockquote Link do rodapé*/
#quoteLink{
    
     border-color: #81c784 !important;
     
}

#img-wave{
  width: 500px;    /* largura da imagem */
}
  

 main {
   flex: 1 0 auto;

 }


 #pc1 {
 	 width:300px;
 	 float: right;
 	 margin: 3px;


 }

#pc2 {
 	 width:300px;
     float: right;
     margin: 3px;


 }

 #pc3 {
 	 width:300px;
	 float: right;
	 margin: 3px;

 }

 #pc4 {
 	 width:300px;
	 float: right;
 	 margin: 3px;

 }

  #pc5 {
 	 width:300px;
	 float: right;
 	 margin: 3px;

 }

  #pc6 {
 	 width:300px;
	 float: right;
 	 margin: 3px;

 }

  #pc7 {
 	 width:300px;
	 float: right;
 	 margin: 3px;

 }

  #pc8 {
 	 width:300px;
	 float: right;
 	 margin: 3px;

 }

#pcdesc {
  margin-top: 200px;
  width: 500px;
  height: 200px;

 }

#pcProp {
   width:-100px;
   float: left;
   margin: 3px;


 }

 #imgDesc{
   width:300px;
   float: right;
   margin: 3px;
 }

  #mainDescDiv{
margin: 100px;
margin-top: 40px;
 }

 #fotos{
  float: left;
  margin: 100px;
  margin-top: 80px;
 }
 #footer{
  background: white;
 }


